.attribution {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
:root {
  --main-green:hsl(171, 66%, 44%);
  --alt-green:hsl(171, 60%, 48%);
  --main-blue:hsl(233, 100%, 69%);
  --alt-blue:hsl(233, 95%, 72%);
  --shadow-green:hsl(171, 66%, 24%);
  --shadow-blue:hsl(233, 70%, 39%);
  --main-text:hsl(210, 10%, 33%);
  --sub-text:hsl(201, 11%, 66%);
  --section-padding-top:100px;
  --section-padding-bottom:100px;
  --main-transition: 300ms;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style:none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  font-size:18px;
  color:var(--main-text);
  font-family: 'Bai Jamjuree', sans-serif;

}
/* ---------------- */


.subtitle {
  color: var(--sub-text);
}
.header, .container-4 {
  text-align:center;
  height:100vh;
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header img, .container-4 img {
  margin:100px 0 30px;
}
.header .subtitle, .container-4 .subtitle {
  max-width: 650px;
  margin: 0 auto 100px;
}
.header a, .container-4 a {
  color: white;
  padding: 15px 25px;
  border-radius: 100vw;
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  -ms-border-radius: 100vw;
  -o-border-radius: 100vw;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .ios, .container-4 .ios{
  background-color: var(--main-green);
  margin-right: 20px;
  box-shadow: 0 3px 0 0 var(--shadow-green), 0 6px 20px 0px hsl(171, 60%, 68%);
}
.header .ios:hover, .container-4 .ios:hover {
  background-color: var(--alt-green);
}
.header .mac,.container-4 .mac {
  background-color: var(--main-blue);
  box-shadow: 0 3px 0 0 var(--shadow-blue), 0 6px 20px 0px hsl(233, 95%, 72%);
}
.header .mac:hover,.container-4 .mac:hover {
  background-color: var(--alt-blue);
}


.special-heading {
  max-width: 650px;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 100px 15px;
}
.special-heading h2 {
  margin-bottom:10px;
}
.special-heading p {
  color: var(--sub-text);
  line-height: 1.7;
}
@media(max-width:767px) {
  .header .buttons, .container-4 .buttons {
    display:flex;
    flex-direction:column;
  }
  .header img {
    margin: 30px auto 10px;
  }
  .header .subtitle {
    margin-bottom: 50px;
  }
  .header .ios, .container-4 .ios {
    margin-right:0;
    margin-bottom:20px;
  }
}
.section-1 .content {
  display:flex;
  align-items: center;
}
.section-1 img {
  width: 50%;
  height: auto;
  transform: translateX(-5%);
  -webkit-transform: translateX(-5%);
  -moz-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  margin-right: 100px;
}
.section-1  .card{
    margin-bottom:30px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.section-1 .text .card p{
  color: var(--sub-text);
  line-height: 1.7;
}
@media(max-width:767px) {
  .section-1 .content{
    flex-direction: column;
    text-align: center;
  }
  .section-1 img {
    margin: 0;
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
    margin-bottom: 50px;
}
.section-1 .card {
  margin-bottom:50px;
  padding: 0%;
}
.section-1 .card h3 {
  margin-bottom: 0;
}
.section-1 .card p {
  padding:15px;
  margin-top: 0;
}
}
.section-2 img {
  max-width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media(max-width:767px) {
  .section-2 img {
    max-width: 90%;
  }
}
.section-3 .fir {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom:150px;
}
.section-3 .container .box {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.section-3 .container .box p {
  color: var(--sub-text);
}
.section-3 .container .box img {
  width:40px;
}
.section-3 .sec {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 50px;
  text-align: center;
  margin: auto;
  margin-bottom:100px;
}
.section-3 .sec img {
  max-width: 100%;
}
@media(min-width:1200px) {
  .section-3 .sec{
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}
.container-4 {
  background-image: none;
  height:auto;
  padding: 100px 0 200px;
}
.container-4 .subtitle {
  margin-bottom: 70px;
}
footer {
  background-color: #eee;
  padding: 30px 0 30px;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .holders {
  display:flex;
}
footer img {
  width: 50px;
  margin-right: 50px;
}
footer .holder {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
footer .holder a{
  margin-bottom: 15px;
  color: var(--main-text);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer .holder a:hover {
  color: var(--main-green);
}
footer .socials a {
  width: 25px;
  margin-right: 20px;
  margin-bottom: 20px;
  color:var(--main-text);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer .socials a:hover {
  color: var(--main-green);
}
footer .socials i {
  font-size: 25px;
}
@media(max-width:767px) {
  footer .container {
    flex-direction: column;
  }
  footer .holders {
    flex-direction: column;
    text-align: center;
  }
  footer img {
    margin: 0 0 50px 0;
  }

  footer .holder {
    margin: 0;
  }
  footer .holders {
    margin-bottom: 50px;
  }
}